<div class="container" style="padding-top: 100px;">
  <h1 class="mx-5 my-5">Astros rented:</h1>
  <div class="cards mx-5">
    <% @bookings.each do |booking|%>
      <div class="card-body bg-transparent">
        <%= image_tag "moon.jpg", class: "card-img mb-3", crop: :fill %>
        <div class="card-info">
          <h4 class="mx-2 mb-3"><%= booking.astro.name %></h4>
          <p class="mx-2 mb-1"><strong>Check in:</strong> <%= booking.check_in %></p>
          <p class="mx-2 mb-1"><strong>Check out:</strong> <%= booking.check_out %></p>
          <p class="mx-2 mb-1"><strong>Status:</strong> <%= booking.status %></p>
        </div>
        <%= link_to "Confirm", confirm_booking_path(booking), params: {booking: booking}, method: :put, class: "btn btn-space mt-3"%>
        <%= link_to "Reject", reject_booking_path(booking), params: {booking: booking}, method: :put, class: "btn btn-space mt-3" %>
      </div>
    <% end %>
  </div>
</div>
