<div class="container d-flex justify-content-start align-items-center" style="padding-top: 180px; border: 2px solid green;">
  <div class="form-fields">
    <h1 class="mb-4 mt-1">Booking requests here!</h1>
    <%= simple_form_for([@astro, @booking]) do |f| %>
      <%= f.input :check_in %>
      <%= f.input :check_out %>
      <%= f.submit "Book now!", class: "btn btn-space mt-1 mb-4" %>
    <% end %>
    <div class="text-start mt-2">
      <%= button_to "Back to all astros!", astros_path, method: :get, class: "btn btn-space mt-1 mb-4" %>
    </div>
  </div>
</div>
