<div class="container d-flex justify-content-start align-items-center" style="min-height: 92vh; padding-top: 0px; border: 2px solid green;">
  <div class="form-fields">
    <h1 class="mb-4 mt-1">Rent <%= @astro.name %> right now!</h1>
    <%= simple_form_for([@astro, @booking]) do |f| %>
      <%= f.input :check_in %>
      <%= f.input :check_out %>
      <p class="fs-5 mt-4">Price (per day): <strong><%= @astro.price %> A$$</strong></p>
      <p class="fs-5 my-3">Total days: <strong> ### </strong></p>
      <p class="fs-5 mb-4">Booking total: <strong> ### A$$</strong></p>
      <%= f.submit "Book now!", class: "btn btn-space mt-1 mb-4" %>
      <% end %>
  </div>
</div>
<div class="d-flex justify-content-end">
  <%= button_to "Back to all astros!", astros_path, method: :get, class: "btn btn-space mb-4 me-5" %>
</div>
