<% @astros.each do |astro|%>
  <div class="card-body bg-transparent">
      <%= image_tag "moon.jpg", class: "card-img mb-3", crop: :fill %>
      <div class="card-info">
        <p class="mx-2 mb-1"><strong>Name:</strong> <%= astro.name %></p>
        <p class="mx-2 mb-1"><strong>Body type:</strong> <%= astro.body_type %></p>
        <p class="mx-2 mb-1"><strong>Mass value:</strong> <%= astro.mass_value %></p>
        <p class="mx-2 mb-1"><strong>Avg temperature:</strong> <%= astro.average_temperature %></p>
        <p class="mx-2 mb-1"><strong>Volume:</strong> <%= astro.volume %></p>
        <p class="mx-2 mb-1"><strong>Density:</strong> <%= astro.density %></p>
        <p class="mx-2 mb-1"><strong>Gravity:</strong> <%= astro.gravity %></p>
        <p class="mx-2 mb-3"><strong>Mean radius:</strong> <%= astro.mean_radius %></p>
        <p class="price-info mx-2 mb-1"><strong>Price:</strong> <%= astro.price %>A$$</p>
        <%= link_to "Book now!", new_astro_booking_path(astro), class: "btn btn-space mt-4" %>
        <%= link_to "More info", astro_path(astro), class: "btn btn-space mt-4" %>
      </div>
  </div>
<% end %>
