<div class="container" style="padding-top: 200px;">

    <div class="headings mb-5">

      <h1 class="text-center">Which astro do you want to be yours today?</h1>
      <p class="text-center">Choose between one of the many options!</p>

    </div>

    <div class="cards mx-5">
      <% @astros.each do |astro|%>
        <div class="card-body bg-transparent">
            <%= image_tag "moon.jpg", class: "card-img mb-3", crop: :fill %>
            <div class="card-info">
              <p class="mx-2 mb-1"><strong>name:</strong> <%= astro.name %></p>
              <p class="mx-2 mb-1"><strong>bodyType:</strong> <%= astro.body_type %></p>
              <p class="mx-2 mb-1"><strong>massValue:</strong> <%= astro.mass_value %></p>
              <p class="mx-2 mb-1"><strong>avgTemp:</strong> <%= astro.average_temperature %></p>
              <p class="mx-2 mb-1"><strong>volume:</strong> <%= astro.volume %></p>
              <p class="mx-2 mb-1"><strong>density:</strong> <%= astro.density %></p>
              <p class="mx-2 mb-1"><strong>gravity:</strong> <%= astro.gravity %></p>
              <p class="mx-2 mb-3"><strong>meanRadius:</strong> <%= astro.mean_radius %></p>
              <p class="price-info mx-2 mb-1"><strong>price:</strong> <%= astro.price %>A$$</p>
            </div>
        </div>
      <% end %>
    </div>

</div>
